#features {
  background: @color-background-body;
  .box-shadow(@y: -1px);
  border-top: 1px solid @grey-mercury;
  .section-padding;
  width: 100%;


  // .btn {
  //   .btn-full-width;
  // }
}

.feature-container + .feature-container {
  margin-top: @spacer-8 * 2;
}

.feature-title {
  font-weight: @font-regular;
  font-size: 1.3em;
  color: @color-title;
  .column(11);
  line-height: 25px;
}

.feature-id {
  font-weight: @font-light;
  padding-right: @spacer-1;
  .column(1);
  color: lighten(@color-text, 30%);
}

.feature-illustration {
  .column(11);
  .push(1);
  text-align: center;

  img {
    max-width: 160px;
  }

  @media only screen and (min-width : @screen-sm-min) {
    .column(4);
    .push(1);
    // text-align: left;
  }
}

.feature-description {
  .column(11);
  .push(1);
  @media only screen and (min-width : @screen-sm-min) {
    .column(7);
    .push(0);
    text-align: left;
  }
}
