@import '_browser';
@import '_newsletter';
@import '_features';
@import '_subscribe';
@import '_vote';

.logotype {
  display: block;
  width: 100px;
  padding: @spacer-3;
  margin: 0 auto @spacer-4;
  .separator();
}

.catch {
  .column(12);
  text-align: center;
}

.presentation {
  padding: @spacer-5 0 0 0;
  background: @grey-seashell-solid;
}

.ctas {
  margin: @spacer-3 0 @spacer-4;
}

.over {
  position: relative;
  width: 100%;
  margin-top: -70em;

  @media only screen and (min-width : @screen-sm-min) {
    margin-top: -31em;
  }
}

.invisible {
  opacity: 0;
  transform: translate3d(0px, 20px, 0px) !important;
}

#browser.invisible, #over.invisible {
  opacity: 0;
  transform: translate3d(0px, 300px, 0px) !important;
}

.animate {
  transition: all 1s ease-in-out; // TODO: make mixin
  transform: translate3d(0px, 0px, 0px);
}
