@import '_browser';
@import '_newsletter';
@import '_features';
@import '_subscribe';
@import '_vote';

.logotype {
  display: block;
  width: 100px;
  padding: @spacer-3;
  margin: 0 auto @spacer-4;
  .separator();
}

.catch {
  .column(12);
  text-align: center;
}

.presentation {
  padding: @spacer-5 0 0 0;
  background: @grey-seashell-solid;
}

.ctas {
  margin: @spacer-3 0 @spacer-4;
}

.over {
  position: absolute;
  width: 100%;
}


