.nav-primary {
  position: fixed;
  z-index: 10;
  width: 100%;
  background: @white;
  text-align: center;
  .box-shadow();
  overflow: hidden;
  padding: @spacer-3;
  max-height: 100%;

  transition: all .3s ease-in-out;
}

#hamburger-icon {
  text-decoration: none;
  float: right;
  font-size: 1.6em;
  max-width: 60px;
  height: 100%;
  padding: @spacer-2;
  cursor: pointer;
}

.retracted {
  padding: 0 @spacer-3;
  max-height: 80px;

  // .navbar-nav {
  //   display: none;
  // }
}

.nav-logotype {
  padding: @spacer-4 @spacer-1 @spacer-2;
  height: 60px;
  margin: auto;
  display: inline-block;
  float: left;
}

li > a {
  width: 100%;
  padding: @spacer-2 @spacer-1;
  display: inline-block;
  text-decoration: none;
  font-size: 0.9em;
  font-weight: @font-regular;
  border-top: 1px solid @color-border-default;
  color: lighten(@color-text, 20%);
}

//   .container {
//     width: 100%;
//   }

//   ul {
//     display: block;
//   }

// }

//   @media only screen and (min-width : @screen-sm-min) {

//     .nav-logotype {
//       padding: 0;
//     }

//     .container {
//       position: relative;
//     }

//     ul {
//       display: inline-block;
//     }

//     background: @white;
//     .box-shadow();

//     li {
//       display: inline-block;
//     }

//     li > a {
//       padding: @spacer-3 @spacer-1;
//       display: inline-block;
//       text-decoration: none;
//       font-size: 0.9em;
//       font-weight: @font-regular;
//       color: lighten(@color-text, 30%);
//     }

//   }
//   .active a {
//     color: @color-text;
//   }
// }

.active a {
  color: @color-text;
  font-weight: @font-medium;
}

// .navbar-right {
//   float: right;
// }

