<form name="createSuggestionForm" ng-submit="createSuggestion()"  ng-blur="focus=false;" novalidate>
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <label for="idea">Votre idée de suggestion</label>
        <!-- <input type="text" class="form-control" id="idea" ng-model="suggestion.title" placeholder="J'aimerais ..."> -->
        <input type="text" class="form-control" id="idea" ng-model="createSuggestion.title" placeholder="J'aimerais ..." ng-focus="focus=true">
      </div>
    </div>
  </div>
  <div ng-show="focus" ng-animate>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="description">Description</label>
          <textarea name="description" id="description" class="form-control" ng-model="createSuggestion.description"></textarea>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="creator-email">Email address</label>
          <input type="email" class="form-control" id="creator-email"
          ng-model="createSuggestion.creatorEmail" placeholder="votre@email.com">
     {{creatorEmail}}

        </div>
      </div>
    </div>
     {{suggestion.creatorEmail}}
<!--     <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="lastname">Nom</label>
          <input type="text" class="form-control" id="lastname" ng-model="suggestion.lastname" placeholder="ex : Doe">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="firstname">Prénom</label>
          <input type="text" class="form-control" id="firstname" ng-model="suggestion.firstname" placeholder="ex : Doe">
        </div>
      </div>
    </div> -->

    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <input type="submit" class="btn btn-primary" value="Poster cette idée">
        </div>
      </div>
    </div>
  </div>
</form>
