<div class="jumbotron">
  <div class="container">
    <h1>
      Une idée d'amélioration ? <br>
      <small>N'hésitez pas à nous en faire part.</small>
    </h1>
    <p class="lead">Brèves arte+7 est un projet open source. Chacun peu y contribuer que ce soit en proposant une idée d'amélioration ou en le forkant.</p>
    <a href="#" class="btn-lg btn-primary">Proposer une idée</a>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Proposer une suggestion</h3>
        </div>
        <div class="panel-body">
          <form name="createSuggestionForm" ng-submit="createSuggestion()" novalidate>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="idea">Votre idée de suggestion</label>
                  <input type="text" class="form-control" id="idea" ng-model="suggestion.title" placeholder="J'aimerais ...">
                </div>
              </div>
            </div>
            <div class="additional-informations">
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="description">Description</label>
                    <textarea name="description" id="description" class="form-control" ng-model="suggestion.description"></textarea>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" id="email" ng-model="suggestion.creatorEmail" placeholder="votre@email.com">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="lastname">Nom</label>
                    <input type="text" class="form-control" id="lastname" ng-model="suggestion.lastname" placeholder="ex : Doe">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="firstname">Prénom</label>
                    <input type="text" class="form-control" id="firstname" ng-model="suggestion.firstname" placeholder="ex : Doe">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="Poster cette idée">
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="page-header">
        <h2>Liste des suggestions</h2>
      </div>
      <div class="idea">
        <div class="row" ng-repeat="suggestion in suggestions">
          <div class="col-sm-2">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">votes</h3>
              </div>
              <div class="panel-body">
                <p class="text-center lead">{{suggestion.voteCount}}</p>
                <form name="createSuggestionForm" ng-submit="voteForSuggestion($index)" novalidate>
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="email" class="form-control" ng-model="suggestion.email" placeholder="votre@email.com">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="form-group">
                        <input type="submit" class="btn btn-primary" value="Poster cette idée">
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="col-sm-10">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">{{suggestion.title}}</h3>
              </div>
              <div class="panel-body">
                <p>{{suggestion.description}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <h2>Sidebar for display usefull content</h2>
    </div>
  </div>
</div>
