<header>
  <nav class="navbar navbar-default navbar-fixed-top nav-primary" ng-class="{ retracted: retracted}" role="navigation">
    <div class="container">
      <div id="navbar" class="navbar-collapse collapse">
        <a href="#/" ng-click="retracted=true;" class="nav-logotype">
          <img src="/assets/images/shared/logotype_ba+7.svg" alt="Brèves arte+7">
        </a>
        <a id="hamburger-icon" ng-click="toogleNav()">☰</a>
        <div class="nav-wrapper">
          <ul class="nav navbar-nav">
            <li ng-class="{ active: isActive('/')}" ng-click="toogleNav()">
              <a href="#/">Découvrir</a>
            </li>
            <li ng-class="{ active: isActive('/subscribe')}" ng-click="toogleNav()">
              <a href="#/subscribe">S'abonner</a>
            </li>
            <li ng-class="{ active: isActive('/unsubscribe')}" ng-click="toogleNav()">
              <a href="#/unsubscribe">Se désabonner</a>
            </li>
            <li ng-class="{ active: isActive('/suggestion')}" ng-click="toogleNav()">
              <a href="#/suggestion">Boîte à idées</a>
            </li>
          </ul>
        </div>
      </div><!--/.nav-collapse -->
    </div><!--/.navbar-header -->
  </nav>
</header>
