<form name="subscribeForm" ng-submit="subscribeToList()" ng-controller="SubscribeFormController" novalidate>
  <div class="wrapper">
    <div class="col-sm-12">
      <div class="form-group">
        <label for="email">Adresse email</label>
        <input type="email"
               ng-class="{'has-error': subscribeForm.email.$invalid
                          && subscribeForm.email.$touched}"
               class="form-control"
               id="email"
               name="email"
               placeholder="votre@email.com"
               ng-model="subscriber.email"
               ng-disabled="remainingPlace === 0"
               data-ng-minlength="3" required>

        <div ng-show="subscribeForm.email.$invalid
                      && subscribeForm.email.$touched"
             class="form-help-block">
          L'email que vous avez entré est invalide
        </div>

        <div ng-show="subscribeForm.email.$error.required
                      && subscribeForm.email.$touched"
             class="form-help-block">
          Vous devez saisir une adresse Email
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper">
    <div class="col-sm-12">
      <div class="form-group">
        <input type="submit"
               class="btn btn-primary btn-full-width"
               id="subscribe-btn"
               ng-disabled="subscribeForm.$invalid || remainingPlace === 0"
               value="Je m'abonne">
      </div>
    </div>
  </div>
  <p class="lead" ng-if="remainingPlace === 0">
      Il n'y a malheureusement plus de place...
  </p>
</form>
